@* bu bir partial view'dir *@




<div class="cart-all">
    <i class="icon-19" title="19"></i>$ (234)
    <div class="inside-cart">
        <p>2 products in the shopping bag</p>
        <ul>
            <li>
                <div class="inside-cart-image"><img src="images/photos/image-9.jpg" alt="product name" /></div>
                <button>x</button>
                <a href="product.html">Stripe boucle</a>
                <p>Unit price 50$</p>
                <p>Q-ty: 1</p>
            </li>
            <li>
                <div class="inside-cart-image"><img src="images/photos/image-8.jpg" alt="product name" /></div>
                <button>x</button>
                <a href="product.html">Stripe boucle</a>
                <p>Unit price 75$</p>
                <p>Q-ty: 2</p>
            </li>
        </ul>
    </div>
</div>